@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body {
    background-color: #EFEFEF;
    background-image: url('../images/background.png');
}

body, label, .checkbox label {
    font-weight: 400;
    font-size: 13px;
}

.btn {
    font-weight: 500;
}

.label {
    font-weight: 500;
}

.table-clients {
    font-size: 11px;
}

.inline-block {
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.client_name {
    margin-bottom: -13px;
}

.client {

}

.first {
    border-top: 2px solid #AEAAAA !important;
}

.last {
    border-bottom: 2px solid #AEAAAA;
}

.gray {
    color: #999;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.table-clients thead {
    border-top: none;
    border-bottom: none;
    background-color: #FFF;
}

.hidden-day {
    opacity: 0;
}

.bg-yellow {
    background-color: #FFF18C;
}

.bg-gray {
    background-color: #D9E0E0;
}

td {
    text-align: center;
}


.navbar-default {
    background-color: rgb(13, 117, 158);
    color: rgb(255, 255, 255);
    border-color: rgb(33, 137, 189);
    border-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-weight: 600;
    font-size: 14px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
}

.navbar-default .navbar-nav > li:hover {
    background-color: #116C90;
}

.panel-body {
    padding: 15px;
    border-top: 1px solid #E5E5E5;
}

.panel-default {
    margin-top: 4px;
}

.panel-default > .panel-heading {
    color: #4E5665;
    background: none repeat scroll 0% 0% #F6F7F8;
    border-color: #FFF;
    font-weight: bold;
    padding: 15px 15px;
}

footer {
    margin-top: 30px;
    color: #737D91;
    font-weight: 700;
}

footer ul {
    padding: 0px;
}

footer li {
    list-style: none;
    padding-bottom: 9px;
}

footer a {
    color: #9197A3;
    font-weight: 400;
}

